
body { margin:0; padding:0; }
/*#map { position:absolute; top:0; bottom:0; width:100%; }*/

#map{
    border-radius: 15px 
}

/**********************************************************************************************/

.login-form{
  margin-top: 10%;
  border-radius: 10px;
  border: 2px;
  border-color: #dedede4d;
  background-color: #e8dddd26;
  padding: 10px;
}